body {

    min-height: 100vh;
    background: url(baggrund.png);
    background-size: cover;
    background-position: center;
    
}

#dataContainer {
    width: 100%;
    min-width: 0; 
    max-height: 545px;
    display: none;
    background-color: transparent;
    overflow-y: auto;
    backdrop-filter: blur(20px);
  }

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.data-table th, .data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.data-table th {
    background-color: #f2f2f2;
}

/*Style af blå kan rundt om tabel*/
.content-table {
    border-collapse: collapse;
    margin: 20px 0;
    min-width: 1050px;
    max-width: 1060px;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    box-shadow: 0 0 10px darkblue;
    width: 100%;
    text-align: left;
  }

  /*Style af tekst i tabel*/
  .content-table thead tr {
    text-align: left;
    font-weight: bold;
    height: 100%;
  }

  /*Style af tekst i tabel header*/
  .content-table tbody tr {
    border-bottom: 1px solid black;
    font-size: 15px;
    height: 30px;
  }

  /*Style af baggrundsfave i tabel body*/
  .content-table tbody tr:nth-of-type(even) {
    background-color: aquamarine;
    height: 30px;
  }

  /*Style af tekst i tabel body*/
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: blue;
    text-align: left;
  }
  
/* position på menu knap */
.dropdown {
    position: fixed;
    top: 20px; /* Justér top-positionen efter dit design */
    right: 20px;
}

/* Stil for knappen */
.dropbtn {
    background-color: gray;
    color: black;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;box-shadow: 0 0 10px black;
    width: 150px;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    border: 2px solid lightslategray;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px black;
    color: black;
    border-radius: 10px;
    padding: 30px 40px;
    width: max-content; /* justere brede på kassen under menu */
    text-align: center; /* center tekst i menu */
    left: 50%; /*centrer kassen under knappen */
    transform: translateX(-50%); /* centrer kassen under knappen */
    
}

/* Links i dropdown-menuen */
.dropdown-content a {
    color: black;
    padding: 12px 0px;
    text-decoration: none;
    display: block;
}

/* Vis dropdown-indholdet ved hover eller klik */
.dropdown:hover .dropdown-content {
  display: block;
}