body {
    min-height: 100vh;
    background: url(baggrund.png);
    background-size: cover;
    background-position: center;
}

/* overskrift */
.overskrift {
  color: black;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}

/* alm tekst */
.tekst {
  color: black;
  text-align: left;
  margin-left: 20px;
  margin-top: 40px;
}

/* position på menu knap */
.dropdown {
  position: fixed;
  top: 20px; /* Justér top-positionen efter dit design */
  right: 20px;
}

/* Stil for knappen */
.dropbtn {
  background-color: gray;
  color: black;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 20px;box-shadow: 0 0 10px black;
  width: 150px;
}

/* Dropdown-indhold (skjult som standard) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  border: 2px solid lightslategray;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px black;
  color: black;
  border-radius: 10px;
  padding: 30px 40px;
  width: max-content; /* justere brede på kassen under menu */
  text-align: center; /* center tekst i menu */
  left: 50%; /*centrer kassen under knappen */
  transform: translateX(-50%); /* centrer kassen under knappen */
}
  
/* Links i dropdown-menuen */
.dropdown-content a {
  color: black;
  padding: 12px 0px;
  text-decoration: none;
  display: block; 
}

/* Vis dropdown-indholdet ved hover eller klik */
.dropdown:hover .dropdown-content {
  display: block;
}