

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('vand.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.rammeLogin {
    width: 420px;
    background: transparent;
    border: 2px solid lightslategray;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px black;
    color: black;
    border-radius: 10px;
    padding: 30px 40px;
}

.rammeLogin h1 {
    font-size: 36px;
    text-align: center;
    color: black;
}

.rammeLogin .inputBox {
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.inputBox input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}

/* farven inde i kasserne der kan skrives i (tekst ) */ 
.inputBox input::placeholder {
    color: black;
}

/* afstand og placering på remember me og forgot password */
.rammeLogin .rememberForgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

/* remember me */
.rememberForgot label input {
    accent-color: black;
    margin-right: 3px;
}

/*farve på forgot password */
.rememberForgot a {
    color: black;
    text-decoration: none;
}

/* linje under forgot password */
.rememberForgot a:hover {
    text-decoration: underline;
}

/* login knap */
.rammeLogin .btn {
    width: 100%;
    height: 45px;
    margin-bottom: 5px;
    background: whitesmoke;
    border: none;
    outline: none;
    border-radius: 40px; /* laver bue på boksen */
    box-shadow: 0 0 10px black;
    cursor: pointer;
    font-size: 16px;
    color: grey;
    font-weight: 600;
}

.opret {
    text-align: center;
    margin-bottom: 5px;
}

.opret a {
    font-size: 14,5px;
    color: black;
    text-decoration: none;
}

.opret a:hover {
    text-decoration: underline;
}