*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ecece7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tilbageKnap {
    position: fixed;
    top: 10px;
    right: 10px;
    display: block;
    width: 100px; /* Juster efter behov */
    height: 45px;
    margin: 20px 0;
    background: #bed6db;
    border: none;
    outline: none;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    font-size: 16px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    line-height: 45px;
    text-decoration: none;
}

.logo {
    position: absolute;
    top: 1px;
    left: 0;
    height: 40px;
    width: 150px;

}

.overskrift h1 {
    color: white;
    text-align: center;
    margin-left: auto;

}

.box {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #004250;
    border: 1px solid #ccc;
    padding: 30px 40px;

    
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px black;
    width: 500px;
}

.center-frame {
    text-align: center;
    margin: 10px;
    color: white;
}

#saveBtn {
    font-size: 13px;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

#HoldID, #HoldNavn {
    font-size: 12px;
    padding: 3px;
    margin: 10px;
    border-radius: 5px;
}

.Kassebund {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 80px;

    background: #fec97d;
    border: 2px lightslategray;

    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px black;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

}


